<div class="commenteach">
<p class="blacktable">
<p id="user_name">  <%= link_to comment.user.name, "/users/#{comment.user_id}",:style=>"color:black;" %></p>
  <p class="blackcomment"><%= comment.comment %></p>
<p class="date"><%= Date.today %></p>
  </p>
  </div>
