html {
  display: block;
  zoom: 1; /* IEのみ */
}

head, meta, link, style, script {
  display: none;
}



@font-face {
    font-family: 'uzura';
    src: local('uzura'),
         local('uzura'),
         url('uzura.ttf') format('truetype');
}

body {
 background-color: #58CE91;
  color: white;
  display: block;
  margin: 8px;
  zoom: 1;
  font-family: "uzura"; 
}
a{
  font-family: "uzura";
}

div {
  display: block;
}

h1 {
  display: block;
  margin: 0.67em 0; /* Webkit, Firefoxは、margin-before: 0.67em; margin-after: 0.67em; */
  font-size: 2em;
  font-weight: bold;
  page-break-after: avoid; /* IEのみ */
}

h2,
:match(article,aside,nav,section) h1 {
  display: block;
  margin: 0.83em 0; /* Webkit, Firefoxは、margin-before: 0.83em; margin-after: 0.83em; */
  font-size: 1.5em;
  font-weight: bold;
  page-break-after: avoid; /* IEのみ */
}

h3 {
  color:yellow;
  font-size: 30px;
  text-align: center;

}

p {
  font-family: "uzura";
  text-align: center;
  font-size: 30px;
  display: block;
  margin: 1em 0; /* Webkit, Firefoxは、margin-before: 1em; margin-after: 1em; */
}

ul { /* ol　もほぼ同じ */
  display: block;
  margin: 1em 0; /* Webkit, Firefoxは、margin-before: 1em; margin-after: 1em; */
  padding-start: 40px; /* IEは、padding-left: 30pt; Operaは、padding-left: 40px; */
  list-style-type: disc;
  list-style-position: outside;
}

li {
  display: list-item;
}

dl {
  display:block;
  margin: 1em 0; /* Webkit, Firefoxは、margin-before: 1em; margin-after: 1em; */
}
dt {
  display: block;
}
dd {
  display:block;
  margin-left: 40px; /* Webkit, Firefoxは、margin-start: 40px; */
}

img {
  zoom: 1; /* IEのみ */
}

strong {
  font-weight: bold;
}

em {
  font-weight: italic;
}
.signup{
  width: 100%;
  height: 80%;

  
}

.field{

  text-align: center;
  
}

.actions{
  text-align: center;

}
.goaleach{
  margin: 0 auto;
  width: 600px;
  margin-bottom: 5px;
   
  border: 5px dotted #FFFFFF;  
  border-radius: 15px;
  text-align: center;


}
a #goalname{
  font-size:40px;
  color: #f9fff9;
  margin: 0;
  color:#FFFFFF;

}
#goalname{
  text-align: center;
  font-size: 50px;
}
#username{
  font-size:30px;
  margin: 0;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}
.grouppending{
  width:600px;
  height: 300px;
  border-radius: 10px;
   margin: 0 auto;
}
.black{
  color:#000000;
}
.blacktable{
  color:#000000;
  font-size: 20px;

}
.invitation{
 font-size: 10px;

}
.invitation_container{
  width: 100%;
  max-height: 200px;
  border-top: 10px solid #FFFFFF;
  border-bottom: 10px solid #FFFFFF;
  overflow: scroll;
  text-align: center;
}
.table{
  max-height: 400px;
  overflow: scroll;
  margin: 0 auto;
  width: 500px;
}

.user_title{
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
  margin-left: 70px;

}
p{
  text-align: left;
  font-size: 40px;
  margin-bottom: 0;
  margin-left: 0px;

}
.titletop{
  text-align: center;
}
.shonin{
  font-size: 20px;
  text-align: center;
}
.percent{
  margin-top: 5px;
  font-size:30px;
  text-align: center;
}

.checkpast{
  border-bottom: 10px dotted #FFFFFF;

}
.rest{
  font-size:20px;
  text-align: right;
  margin-top: 5px;
}

input { 
  margin-left : 550px ; 
}

.commentbottom{
  background-color: #7fffbf;
  color:#000000;
  width: 90px;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
}

.date{
  height: 10px;
  color:#000000;
  font-size:25px;
  margin-bottom: 10px;
}
.btn1{
  width: 250px;
  height: 100px;
  font-size: 50px;
}


#heart {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #ffffff;
  padding: 10px 20px;
  background: -moz-linear-gradient(
    top,
    #ffbdf5 0%,
    #ff82ec 25%,
    #fc46e1);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#ffbdf5),
    color-stop(0.25, #ff82ec),
    to(#fc46e1));
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 3px solid #ffffff;
  -moz-box-shadow:
    0px 3px 11px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,000,217,1);
  -webkit-box-shadow:
    0px 3px 11px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,000,217,1);
  box-shadow:
    0px 3px 11px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,000,217,1);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.2),
    0px 1px 0px rgba(255,255,255,0.3);
    font-family: uzura;
    height: 300px;
    width: 400px;
    margin-left: 310px;
}

#heart2 {

margin-left: 80px;
  background-color: #ff99cc;
    width: 400px;
    height:300px;
    border-radius: 40px;
    margin-top: 50px;
    font-family: uzura;
}
#pink {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #ffffff;
  padding: 10px 20px;
  background: -moz-linear-gradient(
    top,
    #ffbdf5 0%,
    #ff82ec 25%,
    #fc46e1);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#ffbdf5),
    color-stop(0.25, #ff82ec),
    to(#fc46e1));
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 3px solid #ffffff;
  -moz-box-shadow:
    0px 3px 11px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,000,217,1);
  -webkit-box-shadow:
    0px 3px 11px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,000,217,1);
  box-shadow:
    0px 3px 11px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,000,217,1);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.2),
    0px 1px 0px rgba(255,255,255,0.3);
    font-family: uzura;
    height: 300px;
    width: 400px;

}
#heart3{

  margin-left:30px;
  background-color: #ff99cc;
    width: 200px;
    height:100px;
    border-radius: 40px;
    margin-top: 50px;
}
strong{
  font-size: 40px;
  color:yellow;
  text-align: center;
}

#user_name{
  margin-top: 0;
  text-decoration: underline;
  font-size:25px;
  color:black;
  text-align: left;
  margin-left: 0;
}
.blackcomment{
  margin-top: 0;
  font-size: 25px;
  margin-left: 2px;
  color:black;
  text-align: left;
}

#setting{
  font-family: uzura;
  font-size: 40px;
   text-align: center;
}
#new_track{
  font-family: "uzura";
  font-size:50px;
  text-align: center;
}
#yellowb
{
margin: 0 auto; 
float: right;
background-color: #ffff7f;
color: #000000;
width: 200px;
height: 40px;
font-size: 20px;
}
#yellowb1
{
float: left;
float: right;
background-color: #ffff7f;
color: #000000;
width: 200px;
height: 40px;
font-size: 20px;
}
#yellowc
{
float: left;
float: right;
background-color: #ffff7f;
color: #000000;
width: 250px;
height: 40px;
font-size: 20px;
}
#progresstitle{
  font-size:20px;
  color: #000000;
 float: left;
}

.progress{
  margin-top: 30px;
}

.text{
  font-size: 25px;
  text-align: center;
}
.texts{
  font-size: 25px;

}

.progresstable{
  height: 400px;
  overflow: scroll;
}
.bottoms{
  margin: 0 auto;
  text-align: center;
}
.togroup{
  margin-left: 0;
}
.grouptitle{
  font-size: 40px;
  text-align: center;
}
.goaltitle{
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
}
.completed{
  float: right;
  width: 400px;
  height: 300px;
  overflow: scroll;
  border:5px dotted #FFFFFF;
}
.members{

   width: 400px;
  height: 300px;
  overflow: scroll;
  border-radius: 10px;
  float: left;
  margin-left: 50px;

}
.mtitle{
  font-size: 30px;
text-align: center;
}
.members{
  border:5px dotted #FFFFFF;
  border-radius: 10px;
}
.goaldeclaration{

  height: 400px;
  border-bottom:5px solid #FFFFFF;
  border-radius:5px;
  overflow: scroll;
}
.new_user .field label{
  font-size: 50px;
  text-align: center;
  width: 400px;
}
.new_user .field label{
  width: 400px;

}
.field #user_email{
height: 50px;
width: 400px;
font-size:30px;
color:#5cb85c;
}
.user_email input{
  color:#FFFFFF;
}
input {
  color:#FFFFFF;
}
.field #user_password{
height: 50px;
width: 400px;
font-size:30px;
color:#5cb85c;

}
.field #user_password_confirmation{
  height: 50px;
width: 400px;
font-size:30px;
color:#5cb85c;
}

.actions input{
  width: 200px;
  height: 60px;
  color:#000000;
  background-color: yellow;
  font-size: 40px;
  margin-top: 40px;

}
.new_user input{
  margin-left: 0;}

#user_remember_me{
  margin: 0 auto;
  width: 100px;
}

#goaltitle1{
   font-size:60px;
   text-align: center;
}
.introduction{
  height: 500px;
  border-bottom:5px solid #FFFFFF;
}

.password{
  color: #FFFFFF;
}
input #user_password.password{
color:#5cb85c;
}
.footer{
  margin-bottom: 0;
}
#member_status{
  width: 100px;
  height: 100px;
}



.title{
  text-align: center;
}



.sbottom {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #050505;
  padding: 10px 20px;
  background: -moz-linear-gradient(
    top,
    #f7ff00 0%,
    #ffbf00);
  background: -webkit-gradient(
    linear, left top, left bottom,
    from(#f7ff00),
    to(#ffbf00));
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 0px solid #000000;
  -moz-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.7);
  -webkit-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.7);
  box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.7);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.4),
    0px 1px 0px rgba(255,255,255,0.3);
}
