<p id="notice"><%= notice %></p>
<%= form_tag(action: :purchase, method: :post) do %>
<script src="https://checkout.webpay.jp/v1/" class="webpay-button" data-key="<%= WEBPAY_PUBLIC_KEY %>"></script>
<% end %>

  <p class="title">目標にお金をかけよう！</p>

  <p class="title">数値方式の目標の場合</p>
  <p class="text">期限日までに目標数値を達成できなかった場合５００円課金されます。</p>

  <p class="title">チェック方式の目標の場合</p>
  <p class="text">
  目標を達成できなかった日は1００円づつ罰金されます。
  罰金の合計額が期限日に課金されます。</p>

